---
# yamllint disable rule:line-length
name: backgrounds-lakeside copr rebuild
on:
  push:
    branches:
      - main
    paths:
      - image-branding/backgrounds-lakeside/backgrounds-lakeside.spec
  workflow_dispatch:

jobs:
  curl:
    runs-on: ubuntu-latest
    steps:
      - name: Run webhook for copr
        run: |
          curl -X POST https://copr.fedorainfracloud.org/webhooks/custom/${{ secrets.COPR_IMAGE_BRANDING }}/backgrounds-lakeside
