---
# yamllint disable rule:line-length
name: golazo copr rebuild
on:
  push:
    branches:
      - main
    paths:
      - tools-golang/golazo/golazo.spec
  workflow_dispatch:

jobs:
  curl:
    runs-on: ubuntu-latest
    steps:
      - name: Run webhook for copr
        run: |
          curl -X POST https://copr.fedorainfracloud.org/webhooks/custom/${{ secrets.COPR_TOOLS_GOLANG }}/golazo
