---
# yamllint disable rule:line-length
name: systemctl-tui copr rebuild
on:
  push:
    branches:
      - main
    paths:
      - tools-rust/systemctl-tui/systemctl-tui.spec
  workflow_dispatch:

jobs:
  curl:
    runs-on: ubuntu-latest
    steps:
      - name: Run webhook for copr
        run: |
          curl -X POST https://copr.fedorainfracloud.org/webhooks/custom/${{ secrets.COPR_TOOLS_RUST }}/systemctl-tui
